<!-- views/home.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="/js/main.js"></script>
</head>
<body>
  {{#if user}}
    <h1>Bienvenido, {{user.username}}!</h1>
    <a href="/auth/logout">Cerrar sesión</a>
  {{else}}
    <h1>Lista de Productos</h1>
    <p>Inicia sesión para ver productos y realizar compras.</p>
    <a href="/auth/login">Iniciar sesión</a>
  {{/if}}

  <ul>
    {{#each products}}
      <li>{{this.title}} - {{this.description}} - {{this.price}}</li>
    {{/each}}
  </ul>
</body>
</html>


